################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
Client/.idea/modules.xml
Client/.idea/modules.xml
Client/app/src/main/assets/config.properties
Client/app/src/main/res/raw/config.properties
